<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kia Brand Identity | A Different Beat | Kia Motors Australia</title>
	<meta charset="utf-8" />
	<meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSuDomains; preload">
	<meta http-equiv="X-Content-Type-Options" content="nosniff">
	<meta http-equiv="X-XSS-Protection" content="1">
	<!-- meta -->
	<!-- 20180504 YKJ-->
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="keywords" content="">

	<meta name="title" content="Kia Brand Identity | A Different Beat | Kia Motors Australia" />
	<meta name="description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power.">

	<link rel="shortcut icon" href="/etc/designs/kia/favicon.ico" type="image/x-icon">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
	<meta name="robots" content="NOODP, NOYDIR">


	<meta name="kia_metrics_pagename" content="experience | brand | brand identity">
	<link rel="canonical" href="https://www.kia.com/au/experience/brand/identity.html">

	<link rel="alternate" href="https://www.kia.com/worldwide/main.do" hreflang="x-default" />
	<link rel="alternate" href="https://www.kia.com/au/main.html" hreflang="en-au" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="Kia Motors Australia" />
	<meta name="twitter:title" content="Kia Brand Identity | A Different Beat | Kia Motors Australia" />
	<meta name="twitter:description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power." />
	<meta name="twitter:image" content="/content/dam/kwcms/gt/e../images/experience/img_identity.jpg" />

	<meta name="twitter:url" content="https://www.kia.com/au/experience/brand/identity.html" />

	<meta name="twitter:creator" contents="kia Motors" />

	<meta property="og:site_name" content="Kia Motors Australia" />
	<meta property="og:title" content="Kia Brand Identity | A Different Beat | Kia Motors Australia" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power." />
	<meta property="og:image" content="/content/dam/kwcms/gt/e../images/experience/img_identity.jpg" />

	<meta property="og:url" content="https://www.kia.com/au/experience/brand/identity.html" />



	<meta itemprop="name" content="Kia Brand Identity | A Different Beat | Kia Motors Australia">
	<meta itemprop="description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power.">
	<meta itemprop="image" content="/content/dam/kwcms/gt/e../images/experience/img_identity.jpg">
	<meta itemprop="keywords" content="kia, kia brand, kia identity, kia slogan, kia values">
	<meta itemprop="url" content="https://www.kia.com/au/experience/brand/identity.html" />
	<link rel="stylesheet" href="../../../kia-source/css/clientlib.min.css" type="text/css">
	
	<!-- ces_2019_films.css 추가 -->
	<link rel="stylesheet" href="../css/ces_2019_films.css" type="text/css">
  <!-- slick.css 추가 -->
	<link rel="stylesheet" href="../css/plugins/slick.css" type="text/css">
  

	<script type="text/javascript" src="https://www.kia.com/etc/designs/kia-australia/clientlib.min.js"></script>
	<script type="text/javascript" src="https://www.kia.com/etc/designs/kia-australia/clientlib/js/font-load.js"></script>
</head>
<body>



	<!-- content -->
	<div class="accessbility"><a href="#content">Go to content</a></div>
	<div id="wrap">

		<div id="container" ng-app="kwcmsAppModuleApp">
			<div id="content" class="subContents" style="padding-top:0;">
				<div class="par parsys">

					<div style="background:#333;padding:20px;color:#fff;width:600px;margin:0 auto;">
						<h1>ces_2019_films 컴포넌트</h1>
						<br>
						모든 컴포넌트에 section 클래스 공통으로 사용 (별로의 스크립트와 css적용은 하지 않음) <br>
						scrollext 모션 적용 시 ces-onScreen 클래스 사용
				
					</div>
						
					<!-- 2018.12.12 수정 시작-->
					<!-- S: CES_2019_films 컴포넌트 -->
					<div class="ces_2019_films section" style="background-color:#2e2f30">
						<h2 class="films-title">CES 2018 Films</h2>
						<div class="films-slide">
							<div class="slider-for">
								<div>
									<div class="img-wrap" data-src="https://www.youtube.com/embed/v1QphEsmJQg">
										<img src="../images/@sample-slide-for1.jpg" alt="">
										<a href="#url" class="btn-play">Play</a>
									</div>
									<iframe src="" frameborder="0"></iframe>
								</div>
								<div>
									<div class="img-wrap" data-src="https://www.youtube.com/embed/v1QphEsmJQg">
										<img src="../images/@sample-video-img.jpg" alt="">
										<a href="#url" class="btn-play">Play</a>
									</div>
									<iframe src="" frameborder="0"></iframe>
								</div>
					
					
					
							</div>
							<span class="nav-title"></span>
							<div class="slider-nav">
								<div>
									<span class="thumb-img">
										<img src="../images/@sample-slide-nav1.jpg" alt="">
									</span>
									<span class="thumb-title">
										Mola Mola _ R.E.A.D.
									</span>
								</div>
								<div>
									<span class="thumb-img">
										<img src="../images/@sample-slide-nav2.jpg" alt="">
									</span>
									<span class="thumb-title">
										Mola Mola _ V-touch
									</span>
								</div>
								<div>
									<span class="thumb-img">
										<img src="../images/@sample-slide-comingSoon.jpg" alt="">
									</span>
									<span class="thumb-title">
										Coming soon
									</span>
								</div>
								<div>
									<span class="thumb-img">
										<img src="../images/@sample-slide-comingSoon.jpg" alt="">
									</span>
									<span class="thumb-title">
										Coming soon
									</span>
								</div>
								<div>
									<span class="thumb-img">
										<img src="../images/@sample-slide-comingSoon.jpg" alt="">
									</span>
									<span class="thumb-title">
										Coming soon
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- 2018.12.12 수정 끝-->
          
				</div>
			</div>
		</div>
	</div>

  <!-- 컴포넌트 사용 시 필요 js -->
  <script src="../js/plugins/jquery.scrollex.min.js"></script>
  <script src="../js/plugins/slick.min.js"></script>
  <script src="../js/ces_2019_films.js"></script>
  
</body>


<!-- end, after body tag -->
</html>