<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kia Brand Identity | A Different Beat | Kia Motors Australia</title>
	<meta charset="utf-8" />
	<meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSuDomains; preload">
	<meta http-equiv="X-Content-Type-Options" content="nosniff">
	<meta http-equiv="X-XSS-Protection" content="1">
	<!-- meta -->
	<!-- 20180504 YKJ-->
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="keywords" content="">

	<meta name="title" content="Kia Brand Identity | A Different Beat | Kia Motors Australia" />
	<meta name="description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power.">

	<link rel="shortcut icon" href="/etc/designs/kia/favicon.ico" type="image/x-icon">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
	<meta name="robots" content="NOODP, NOYDIR">


	<meta name="kia_metrics_pagename" content="experience | brand | brand identity">
	<link rel="canonical" href="https://www.kia.com/au/experience/brand/identity.html">

	<link rel="alternate" href="https://www.kia.com/worldwide/main.do" hreflang="x-default" />
	<link rel="alternate" href="https://www.kia.com/au/main.html" hreflang="en-au" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="Kia Motors Australia" />
	<meta name="twitter:title" content="Kia Brand Identity | A Different Beat | Kia Motors Australia" />
	<meta name="twitter:description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power." />
	<meta name="twitter:image" content="/content/dam/kwcms/gt/en/images/experience/img_identity.jpg" />

	<meta name="twitter:url" content="https://www.kia.com/au/experience/brand/identity.html" />

	<meta name="twitter:creator" contents="kia Motors" />

	<meta property="og:site_name" content="Kia Motors Australia" />
	<meta property="og:title" content="Kia Brand Identity | A Different Beat | Kia Motors Australia" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power." />
	<meta property="og:image" content="/content/dam/kwcms/gt/en/images/experience/img_identity.jpg" />

	<meta property="og:url" content="https://www.kia.com/au/experience/brand/identity.html" />



	<meta itemprop="name" content="Kia Brand Identity | A Different Beat | Kia Motors Australia">
	<meta itemprop="description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power.">
	<meta itemprop="image" content="/content/dam/kwcms/gt/en/images/experience/img_identity.jpg">
	<meta itemprop="keywords" content="kia, kia brand, kia identity, kia slogan, kia values">
	<meta itemprop="url" content="https://www.kia.com/au/experience/brand/identity.html" />
	<link rel="stylesheet" href="../../../kia-source/css/clientlib.min.css" type="text/css">
	
	<!-- S: ces_2019_text.css 추가 -->
	<link rel="stylesheet" href="../css/ces_2019_text.css" type="text/css">
	<!-- E: ces_2019_text.css 추가 -->

	<script type="text/javascript" src="https://www.kia.com/etc/designs/kia-australia/clientlib.min.js"></script>
	<script type="text/javascript" src="https://www.kia.com/etc/designs/kia-australia/clientlib/js/font-load.js"></script>
</head>
<body>



	<!-- content -->
	<div class="accessbility"><a href="#content">Go to content</a></div>
	<div id="wrap">

		<div id="container" ng-app="kwcmsAppModuleApp">
			<div id="content" class="subContents" style="padding-top:0;">
				<div class="par parsys">


				<div style="background:#333;padding:20px;color:#fff;width:600px;margin:0 auto;">
					<h1>CES_2019_text 컴포넌트</h1>
					<br>
					모든 컴포넌트에 section 클래스 공통으로 사용 (별로의 스크립트와 css적용은 하지 않음) <br>
					scrollext 모션 적용 시 ces-onScreen 클래스 사용
					<br>
					디자인 유형 3가지 (style1, style2, style3)<br>
					style1 : 상단 비주얼 영역 텍스트 (디스크립션 위 빨간 가로 구분선)<br>
					style2 (폰트크기, 마진값 축소 )<br>
					style3 (style1에서 headings 자간 넓이 확장)
					<br><br>

					폰터정렬: center(default), left, right 클래스로 align 설정<br>
					폰트컬러: black(default), 인라인으로 color 설정
					<br><br>

					강조문구 : pointer 클래스 추가<br>
					참조문구 : note 클래스 추가
				</div>


					<!-- S: CES_2019_text 컴포넌트 (style1) -->
          <div class="ces_2019_text style1 ces-onScreen section" style="color:#fff;">
						<h2 class="ces_title"><span>Amplify Your Joy with</span>Emotive Driving</h2><!-- 2018.12.12 한줄 수정-->

            <div class="ces_description">
              <!-- style1 추가 시 해당 node 추가 -->
              <span class="animate-line"></span>
              <!-- //style1 추가 시 해당 node 추가 -->
              <p>
                We at Kia Motors are dedicated to ensuring that driver enjoyment<br>
                remains a top priority in the coming era of future mobility.
              </p>
              <p>
                Thanks to advanced technology that identifies your needs and emotional state of mind<br>
                in real time, Kia strives to deliver a fully customized driving space that leads to<br>
                a highly intuitive, unsurpassed in-vehicle mobility experience.
              </p>
							<p class="point">
                Amplify Your Joy with Emotive Driving.
              </p>
            </div>
					</div>
					<!-- E: CES_2019_text 컴포넌트 (style1) -->





					<!-- S: CES_2019_text 컴포넌트 (style2) -->
          <div class="ces_2019_text style2 ces-onScreen section">
            <span class="ces_summary">Technology that reads your emotions</span>
            <h2 class="ces_title">R.E.A.D System</h2>
            <h3 class="ces_sub-title">Real-time Emotion Adaptive Driving System</h3>
            <div class="ces_description">
								<!-- 2018.12.12 수정 시작-->
								<p>
									Meet R.E.A.D. System*, a future mobility technology that<br>
									deciphers drivers’ emotions and simultaneously optimizes the in-vehicle environment<br>
									for seamless comfort and pleasure.<br>
								
								</p>
								<p>
									R.E.A.D. System creates a personalized driver’s space<br>
									(lighting, sound, cabin temperature, seat vibration and scent) centered on the human senses<br>
									by continuously assessing the driver’s emotional state through<br>
									detection and analysis of bio signals (facial expression, heart beat, etc.)<br>
									with the help of AI machine learning.
								
								</p>
								<p class="note">
									* This project is based on a joint research collaboration with the MIT Media Lab's Affective Computing group.
								</p>
								<!-- 2018.12.12 수정 끝-->
            </div>
					</div>
					<!-- E: CES_2019_text 컴포넌트 (style2) -->
					



					<!-- S: CES_2019_text 컴포넌트 -->
					<div class="ces_2019_text style2 ces-onScreen section">
						<span class="ces_summary">Technology that reads your eyes and fingertips</span>
						<h2 class="ces_title">V-Touch</h2>
						<h3 class="ces_sub-title">Virtual Touch</h3>
						<div class="ces_description">
							<!-- 2018.12.12 수정 시작-->
							<p>
								V-Touch is the world’s first long-range virtual gesture recognition technology that enables<br>
								effortless control of numerous vehicle features with the simple swipe of a finger.
							</p>
							<p>
								V-Touch tracks the occupant's sightline and fingertip position with a 3D camera, then instantly and accurately<br>
								controls the desired vehicle feature. Its simple yet sophisticated user interface is unparalleled<br>
								compared to other preexisting gesture control systems.
							</p>
							<p>
								Kia is making the future of mobility as easy and intuitive as possible by replacing<br>
								the need to physically press buttons or give voice commands<br>
								with a simple glance and movement of your fingertip.
							</p>
							<!-- 2018.12.12 수정 끝-->
						</div>
					</div>
					<!-- E: CES_2019_text 컴포넌트 -->











					<!-- S: CES_2019_text 컴포넌트 (style3) -->
          <div class="ces_2019_text section style3 ces-onScreen">
            <h2 class="ces_title">KIA FUTURE<br>TECHNOLOGY</h2>
					</div>
					<!-- E: CES_2019_text 컴포넌트 (style3) -->
          

          
				</div>
			</div>
		</div>
	</div>

  <!-- 컴포넌트 사용 시 필요 js -->
  <script src="../js/plugins/jquery.scrollex.min.js"></script>
  <script src="../js/ces_2019_text.js"></script>
  
</body>


<!-- end, after body tag -->
</html>