@charset "utf-8";

/* CES_2019_films 컴포넌트 */
.ces_2019_films {
  padding: 55px 0 60px;
}
.ces_2019_films .films-title {
  margin-bottom: 30px;
  font-size: 60px;
  text-align: center;
  line-height: 1.2;
  color: #fff;
}
.ces_2019_films .films-slide {
  max-width: 940px;
  margin: 0 auto;
}
.ces_2019_films .films-slide .slider-for {
  position: relative;
  /* height: 540px; */
}
.ces_2019_films .films-slide .slider-for .slick-slide {
  position: relative;
}
.ces_2019_films .films-slide .slider-for .img-wrap {
  position: relative;
  z-index: 10;
}
.ces_2019_films .films-slide .slider-for .img-wrap img {
  width: 100%;
}
.ces_2019_films .films-slide .slider-for .img-wrap.video-play {
  z-index: 1;
}
.ces_2019_films .films-slide .slider-for .img-wrap .btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  background: url(../images/btn-ces-play-pc.png) no-repeat 0 0;/* 2018.12.11 파일명 수정 */
  transform: translate(-50%, -50%);
  text-indent: -9999px;
}
.ces_2019_films .films-slide .slider-for iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 5;
}
.ces_2019_films .films-slide .slider-for .slick-arrow {
  position: absolute;
  bottom: -60px;
  width: 22px;
  height: 40px;
  background: url(../images/arr-slide.png) no-repeat;
  text-indent: -9999px;
}
.ces_2019_films .films-slide .slider-for .slick-arrow.slick-prev {
  right: 0;
  background-position: -22px -40px;
}
.ces_2019_films .films-slide .slider-for .slick-arrow.slick-prev.slick-disabled {
  background-position: -22px 0;
}
.ces_2019_films .films-slide .slider-for .slick-arrow.slick-next {
  right: 62px;
  background-position: 0 -40px;
}
.ces_2019_films .films-slide .slider-for .slick-arrow.slick-next.slick-disabled {
  background-position: 0 0;
}
.ces_2019_films .films-slide .nav-title {
  display: block;
  margin-top: 28px;
  font-family: "kiaB";
  font-size: 24px;
  color: #fff;
  line-height: 1.16;
  text-align: center;
}
.ces_2019_films .films-slide .slider-nav {
  margin-top: 40px;
}
.ces_2019_films .films-slide .slider-nav:after {
  content: '';
  display: table;
  clear: both;
}
.ces_2019_films .films-slide .slider-nav .slick-slide {
  float: right;
  width: 170px;
  margin: 0 7.5px;
  cursor: pointer;
}

.ces_2019_films .films-slide .slider-nav .thumb-img {
  position: relative;
  display: block;
}
.ces_2019_films .films-slide .slider-nav .thumb-img img {
  width: 100%;
}
.ces_2019_films .films-slide .slider-nav .thumb-title {
  display: block;
  margin-top: 14px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1.6;
  color: #fff;
  letter-spacing: -0.5px;
}
.ces_2019_films .films-slide .slider-nav .slick-slide.is-active .thumb-img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #bb162b;
  box-sizing: border-box;
}
.ces_2019_films .films-slide .slider-nav .slick-slide.is-active .thumb-title {
  color: #bb162b;
}

@media(max-width:1024px){
.ces_2019_films {padding: 35px 0 60px;box-sizing: border-box;}
.ces_2019_films .films-slide { max-width: 100%; }
.ces_2019_films .films-slide .slider-for {max-width: 990px; margin: 0 auto;}
.ces_2019_films .films-slide .slider-nav {margin-right:40px;}
.ces_2019_films .films-slide .slider-nav .slick-slide {width: 194px; margin: 0 7.5px;}
.ces_2019_films .films-slide .slider-for .slick-arrow.slick-next { right: 15px; }
}
@media(max-width:990px){
.ces_2019_films .films-slide .slider-for {margin: 0 15px;}

}


@media(max-width:768px){

  /* CES_2019_films 컴포넌트 */
  .ces_2019_films .films-title {
      margin-bottom: 8px;
      font-size:28px;
      line-height: 1.5;
  }
  .ces_2019_films {
    padding: 10px 0 20px;
  }
  .ces_2019_films .films-slide .slider-for {
    height: auto;
  }
  .ces_2019_films .films-slide .nav-title {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  .ces_2019_films .films-slide .slider-nav .thumb-title {
      margin-top: 8px;
      padding: 0 0 0 10px;
      font-size: 12px;
      line-height: 1.1;
      letter-spacing: -0.01em;
      color: #fff;
  }


  .ces_2019_films .films-slide .slider-for .slick-slide {
    box-sizing: border-box;
  }
  .ces_2019_films .films-slide .slider-for .img-wrap .btn-play {
  width: 60px;
  height: 60px;
  background: url(../images/btn-ces-play-mo.png) no-repeat 0 0 / 60px auto;/* 2018.12.11 파일명 수정 */
  }
  .ces_2019_films .films-slide .slider-for iframe {
    background:transparent;
  }
  .ces_2019_films .films-slide .slider-nav .slick-slide.is-active .thumb-img:after {
    border: 2px solid #bb162b;
  }
  .ces_2019_films .slick-arrow {display: none !important;}
  .ces_2019_films .films-slide .slider-nav {margin-top: 20px;}
  .ces_2019_films .films-slide .slider-nav .slick-slide {margin: 0 5px; width: 190px;}

  .ces_2019_films .films-slide .slider-nav {
    margin-top: 20px;
    margin-right:15px;
  }
}

@media(max-width:660px){
  .ces_2019_films .films-slide .slider-nav .slick-slide {width: 178px;}
}
@media(max-width:600px){
  .ces_2019_films .films-slide .slider-nav .slick-slide {width: 170px;}
}
@media(max-width:560px){
  .ces_2019_films .films-slide .slider-nav .slick-slide {width: 162px;}
}
@media(max-width:530px){
  .ces_2019_films .films-slide .slider-nav .slick-slide {width: 155px;}
}
@media(max-width:510px){
  .ces_2019_films .films-slide .slider-nav .slick-slide {width: 146px;}
}
@media(max-width:360px){
  .ces_2019_films .films-slide .slider-nav .slick-slide {width: 130px;}
}