@charset "utf-8";

/* CES_2019_text 컴포넌트 */
 /*style1 (default)*/
.ces_2019_text {
  max-width: 940px;
  margin: 0 auto;
  padding:0 3%;
  text-align: center;
  color: #000;
  overflow: hidden;
}
.ces_2019_text.text-white {
  color: #fff;
}
.ces_2019_text.left {
  text-align: left;
}
.ces_2019_text.right {
  text-align: right;
}
.ces_2019_text .ces_summary {
  display: inline-block;
  margin-bottom: 0;
  font-size: 22px;
}
.ces_2019_text.ces-onScreen .ces_summary {
  position: relative;
  opacity: 0;
  bottom: 170px;
  transition: all .5s ease-in-out;
}
.ces_2019_text .ces_title {
  font-family: "kiaB";
  font-size: 74px;
  line-height: 1.1;
  padding:20px 0;
}
.ces_2019_text .ces_title span {
  font-family: "kiaM";
  font-size: 45px;
  display: block;
  letter-spacing: 4px;
}
.ces_2019_text.ces-onScreen .ces_title {
  position: relative;
  opacity: 0;
  bottom: 120px;
  transition: all .5s ease-in-out;
}
.ces_2019_text .ces_sub-title {
  margin-top: 20px;
  font-family: "kiaB";
  font-size: 24px;
  line-height: 1.2;
}
.ces_2019_text.ces-onScreen .ces_sub-title {
  position: relative;
  opacity: 0;
  bottom: 50px;
  transition: all .5s ease-in-out;
}
.ces_2019_text .ces_description {
  position: relative;
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 18px;
  line-height: 1.7;
}
.ces_2019_text .ces_description > p {
  margin-top: 35px;
}
.ces_2019_text.ces-onScreen .ces_description > p {
  position: relative;
  opacity: 0;
  bottom: 50px;
  transition: all .5s ease-in-out;
}

.ces_2019_text .ces_description.line {
  padding-top: 54px;
}
.ces_2019_text .ces_description .animate-line {
  position: relative;
  left: 50%;
  width: 90px;
  height: 4px;
  display:block;
  margin:0 0 50px 0;
  background: #bb162b;
  transform: translateX(-50%);
}
.ces_2019_text.ces-onScreen .ces_description .animate-line {
  width: 0;
  opacity: 0;
  transition: width .4s ease-in-out;
}
.ces_2019_text.js-animated .ces_title,
.ces_2019_text.js-animated .ces_sub-title,
.ces_2019_text.js-animated .ces_description > p,
.ces_2019_text.js-animated .ces_summary {
  bottom: 0;
  opacity: 1;
}
.ces_2019_text.js-animated .ces_description .animate-line {
  width: 90px;
  bottom: 0;
  opacity: 1;
}

/*style1*/
.ces_2019_text.style1 .ces_title {
  padding:50px 0 20px 0;
}
.ces_2019_text.style1 .ces_description > p {
  margin-top: 35px;
}

/*style2*/
.ces_2019_text.style2 .ces_title {
  font-family: "kiaB";
  font-size: 60px;
  line-height: 1;
  padding:0;
  margin-top:25px;
}
.ces_2019_text.style2 .ces_description {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 15px;
}
.ces_2019_text.style2 .ces_description > p {
  margin-top: 25px;
}
.ces_2019_text .ces_summary {
  display: inline-block;
  margin-top: 60px;
  font-size: 22px;
}
.ces_2019_text.style2 .ces_sub-title {
  margin-top:10px;
}

/*style3*/
.ces_2019_text.style3 .ces_title {
  letter-spacing: 0.2em;
}
.ces_2019_text.style3 .ces_title:before {
  content:''; clear:both;display:inline-block;width:127px;height:10px
}
.ces_2019_text.style3 .ces_title:after {
  content:''; clear:both;display:inline-block;width:60px;height:10px
}
.ces_2019_text .ces_description > p:nth-of-type(1) {
  margin-top: 0;
}
.ces_2019_text .ces_description .note {
   
  }
.ces_2019_text .ces_description .point {
    font-size: 24px;font-family: "kiaB"
  }


@media(max-width:1024px){
  .ces_2019_text {padding: 0 15px;box-sizing: border-box;}
}

@media(max-width:768px){
  .ces_2019_text.js-animated .ces_description .animate-line {
    width: 45px;
  }
  .ces_2019_text .ces_description .animate-line {
    height: 2px;
    margin:0 0 20px 0;
  }
  .ces_2019_text .ces_description > p {margin-top:30px;}
  .ces_2019_text .ces_description > p br {display: none;}
  .ces_2019_text .ces_title {
    font-size: 28px;
    padding: 10px 0;
  }
  .ces_2019_text .ces_sub-title {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1;
  }
  .ces_2019_text .ces_summary {
    margin-top: 25px;
    font-size: 13px;
    margin-bottom:0;
    line-height:1.3;
  }
  .ces_2019_text .ces_description {
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.4;
    padding: 0 20px;
  }

  /*style1*/
  .ces_2019_text.style1 .ces_title {
    padding:15px 0 15px 0;
  }

  /*style2*/
  .ces_2019_text.style2 .ces_title {
    font-family: "kiaB";
    font-size: 28px;
    line-height: 1;
    padding: 0;
    margin-top:15px;
  }
  .ces_2019_text .ces_title span {
  font-size: 16px;
  letter-spacing: 2px;
}
  .ces_2019_text.style2 .ces_sub-title {
    margin-top: 5px;
  }
  .ces_2019_text.style2 .ces_description {
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 0;
  }
  /*style3*/
  .ces_2019_text.style3 .ces_title {
    letter-spacing: 0.1em;
  }
  .ces_2019_text.style3 .ces_title:before {
    width:48px;
  }
  .ces_2019_text.style3 .ces_title:after {
    width:15px;
  }


  .ces_2019_text .ces_description .note {
    font-size: 12px;
  }
  .ces_2019_text .ces_description .point {
    font-size:16px;
  }
}