@charset "utf-8";

/* layout 컴포넌트 */
.layout_background {
  background-repeat: no-repeat;
  background-position: top center;
}

/* CES_2019_text 컴포넌트 */
 /*style1 (default)*/
.ces_2019_text {
  max-width: 940px;
  margin: 0 auto;
  padding:0 3%;
  text-align: center;
  color: #000;
}
.ces_2019_text.text-white {
  color: #fff;
}
.ces_2019_text.left {
  text-align: left;
}
.ces_2019_text.right {
  text-align: right;
}
.ces_2019_text .ces_title {
  font-family: "kiaB";
  font-size: 74px;
  line-height: 1;

  position: relative;
  bottom: 170px;
  opacity: 0;
  transition: all .8s ease-in-out;
  transition-delay: .1s;
  padding:20px 0;
}
.ces_2019_text .ces_sub-title {
  margin-top: 20px;
  font-family: "kiaB";
  font-size: 24px;
  line-height: 1.2;

  position: relative;
  bottom: 170px;
  opacity: 0;
  transition: all .8s ease-in-out;
  transition-delay: .2s;
}
.ces_2019_text .ces_description {
  position: relative;
  margin-top: 50px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.7;
}
.ces_2019_text .ces_description > p {
  margin-top: 40px;

  position: relative;
  bottom: 170px;
  opacity: 0;
  transition: all .8s ease-in-out;
  transition-delay: .8s;
}
.ces_2019_text .ces_description > p:nth-of-type(1) {
  margin-top: 0;
}
.ces_2019_text .ces_description.line {
  padding-top: 54px;
}
.ces_2019_text .ces_description .animate-line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 0;
  height: 4px;
  background: #bb162b;
  opacity: 0;
  transition: width 1s ease-in-out;
  transition-delay: .6s;
}
.ces_2019_text .ces_summary {
  display: inline-block;
  margin-bottom: 22px;
  font-size: 22px;

  position: relative;
  bottom: 170px;
  opacity: 0;
  transition: all .5s ease-in-out;
  transition-delay: .2s;
}
.ces_2019_text.js-animated .ces_title,
.ces_2019_text.js-animated .ces_sub-title,
.ces_2019_text.js-animated .ces_description > p,
.ces_2019_text.js-animated .ces_summary {
  bottom: 0;
  opacity: 1;
}
.ces_2019_text.js-animated .ces_description .animate-line {
  width: 90px;
  bottom: 0;
  opacity: 1;
}

/*style2*/
.ces_2019_text.style2 .ces_title {
  font-family: "kiaB";
  font-size: 60px;
  line-height: 1;
  padding:0;
  margin-top:30px;
}
.ces_2019_text.style2 .ces_description {
  font-size: 15px;
  margin-top:30px;
  margin-bottom:30px;
}
.ces_2019_text .ces_summary {
  display: inline-block;
  margin-top: 60px;
  font-size: 22px;
}
.ces_2019_text.style2 .ces_sub-title {
  margin-top:15px;
}
/* layout 100% */
.layout_background .full_white {max-width:100%;}



/* CES_2019_media 컴포넌트 */
.ces_2019_text + .ces_2019_media {
  transition-delay: 1s;
}
.ces_2019_media {
  position: relative;
  max-width: 940px;
  height: 530px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 35px 35px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 35px 35px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 35px 35px 0px rgba(0,0,0,0.35);

  bottom: 170px;
  opacity: 0;
  transition: all .5s ease-in-out;
  transition-delay: .5s;
}
.ces_2019_media.js-animated {
  bottom: 0;
  opacity: 1;
}
.ces_2019_media .img-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.ces_2019_media .img-wrap.video-play {
  display: none;
}
.ces_2019_media .img-wrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.ces_2019_media .img-wrap .btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  background: url(../images/btn-play.png) no-repeat 0 0;
  text-indent: -9999px;
  transform: translate(-50%, -50%);
}
.ces_2019_media iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

/* CES_2019_space 컴포넌트 */
.ces_2019_space {
  width:100%;
  height: 140px;
  text-align:center;
}
.ces_2019_space.medium {
  height: 120px;
}
.ces_2019_space.small {
  height: 60px;
}
.ces_2019_space span {
  width: 4px;
  height:100%;
  display: inline-block;
}


/* CES_2019_Details 컴포넌트 */
.ces_2019_details {
  margin-top: 40px;
  margin-bottom: 60px;

  position: relative;
  opacity: 0;
  bottom: 170px;
  transition: all .5s ease-in-out;
  transition-delay: .8s;
}
.ces_2019_details.js-animated {
  opacity: 1;
  bottom: 0;
  
}
.ces_2019_details .details-list {
  width: 940px;
  margin: 0 auto;
}
.ces_2019_details .details-list::after {
  content: '';
  display: table;
  clear: both;
}
.ces_2019_details .details-list > li {
  position: relative;
  float: left;
  width: 455px;
}
.ces_2019_details .details-list > li:nth-child(even) {
  margin-left: 30px;
}
.ces_2019_details .details-list > li:nth-child(2) {
  margin-top: 80px;
}
.ces_2019_details .details-list > li:nth-child(3) {
  margin-top: -50px;
}
.ces_2019_details .details-list > li:last-child {
  margin-top: 30px;
}
.ces_2019_details .details-list .details-content {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 15%;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}
.details-list .details-content .details-summary {
  display: block;
  font-family: "kiaB";
  font-size: 24px;
}
.details-list .details-content .details-title {
  display: block;
  margin-top: 13px;
  font-family: "kiaB";
  font-size: 18px;
  line-height: 1.3;
}
.details-list .details-content .details-text {
  margin-top: 18px;
  font-size: 15px;
  line-height: 1.6;
}
.ces_2019_details.text-top .details-list .details-content {
  top: 70px;
}
.ces_2019_details.text-center .details-list .details-content {
  top: 50%;
  transform: translateY(-50%);
}
.ces_2019_details.text-bottom .details-list .details-content {
  bottom: 70px;
}

/* CES_2019_films 컴포넌트 */
.ces_2019_films {
  padding: 120px 0 60px;
}
.ces_2019_films .films-title {
  margin-bottom: 30px;
  font-size: 60px;
  text-align: center;
  line-height: 1.7;
  color: #fff;
}
.ces_2019_films .films-slide {
  max-width: 940px;
  margin: 0 auto;
}
.ces_2019_films .films-slide .slider-for {
  position: relative;
  height: 540px;
}
.ces_2019_films .films-slide .slider-for .slick-slide {
  position: relative;
}
.ces_2019_films .films-slide .slider-for .img-wrap {
  position: relative;
  z-index: 10;
}
.ces_2019_films .films-slide .slider-for .img-wrap img {
  width: 100%;
}
.ces_2019_films .films-slide .slider-for .img-wrap.video-play {
  z-index: 1;
}
.ces_2019_films .films-slide .slider-for .img-wrap .btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  background: url(../images/btn-play.png) no-repeat 0 0;
  transform: translate(-50%, -50%);
  text-indent: -9999px;
}
.ces_2019_films .films-slide .slider-for iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 5;
}
.ces_2019_films .films-slide .slider-for .slick-arrow {
  position: absolute;
  bottom: -60px;
  width: 22px;
  height: 40px;
  background: url(../images/arr-slide.png) no-repeat;
  text-indent: -9999px;
}
.ces_2019_films .films-slide .slider-for .slick-arrow.slick-prev {
  right: 62px;
  background-position: 0 -40px;
}
.ces_2019_films .films-slide .slider-for .slick-arrow.slick-prev.slick-disabled {
  background-position: 0 0;
}
.ces_2019_films .films-slide .slider-for .slick-arrow.slick-next {
  right: 0;
  background-position: -22px -40px;
}
.ces_2019_films .films-slide .slider-for .slick-arrow.slick-next.slick-disabled {
  background-position: -22px 0;
}
.ces_2019_films .films-slide .nav-title {
  display: block;
  margin-top: 28px;
  font-family: "kiaB";
  font-size: 24px;
  color: #fff;
  line-height: 1.16;
  text-align: center;
}
.ces_2019_films .films-slide .slider-nav {
  margin-top: 40px;
}
.ces_2019_films .films-slide .slider-nav:after {
  content: '';
  display: table;
  clear: both;
}
.ces_2019_films .films-slide .slider-nav .slick-slide {
  float: left;
  width: 176px;
  margin: 0 7.5px;
}
.ces_2019_films .films-slide .slider-nav .thumb-img {
  position: relative;
  display: block;
}
.ces_2019_films .films-slide .slider-nav .thumb-img img {
  width: 100%;
}
.ces_2019_films .films-slide .slider-nav .thumb-title {
  display: block;
  margin-top: 14px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1.6;
  color: #fff;
}
.ces_2019_films .films-slide .slider-nav .slick-slide.is-active .thumb-img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #bb162b;
  box-sizing: border-box;
}
.ces_2019_films .films-slide .slider-nav .slick-slide.is-active .thumb-title {
  color: #bb162b;
}

