@charset "utf-8";

/* CES_2019_Details 컴포넌트 */
.ces_2019_details {
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 30px;
}
.ces_2019_details .details-wrap {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}
.details-wrap .details-list {
  max-width: 100%;
}
.details-list .slick-list {
  overflow: visible;
}
.details-list .details-item {
  position: relative;
}
.details-list .slick-arrow {
  position: absolute;
  top: 50%;
  width: 55px;
  height: 70px;
  text-indent: -9999px;
  transform: translateY(-50%);
  z-index: 99;
}
.details-list .slick-arrow.slick-disabled {
  opacity: .5;
}
.details-list .slick-arrow.slick-prev {
  left: 0;
  background: url(../images/btn-slide-prev.png) no-repeat 0 0;
}
.details-list .slick-arrow.slick-next {
  right: 0;
  background: url(../images/btn-slide-next.png) no-repeat 0 0;
}
.details-list .details-item .details-content {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 15%;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}
.details-item .details-content .details-summary {
  display: block;
  font-family: "kiaB";
  font-size: 24px;
}
.details-item .details-content .details-title {
  display: block;
  margin-top: 13px;
  font-family: "kiaB";
  font-size: 18px;
  line-height: 1.3;
}
.details-item .details-content .details-text {
  margin-top: 18px;
  font-size: 15px;
  line-height: 1.6;
}
.details-item .details-bg {
  display: inline-block;
}
.ces_2019_details.text-top .details-item .details-content {
  top: 14%;
}
.ces_2019_details.text-center .details-item .details-content {
  top: 50%;
  transform: translateY(-50%);
}
.ces_2019_details.text-bottom .details-item .details-content {
  bottom: 14%;
}

@media(max-width:768px){
  /* CES_2019_details 컴포넌트 */
  .ces_2019_details {
    margin-bottom:15px;
    margin-top:15px;
  }
  .ces_2019_details .details-wrap {
    padding: 0 10%;
  }
  .details-list .details-item {
    padding: 0 10px;
    box-sizing: border-box;
  }
  .ces_2019_details .details-list {
    width: 100%;
    margin: 0 auto;
  }
  .ces_2019_details .details-list .details-content {
    padding: 0 10px;
    color: #fff;
    letter-spacing: 0.05em;
  }
  .details-list .details-content .details-summary {
    font-size: 12px;
  }
  .details-list .details-content .details-title {
    margin-top: 5px;
    font-family: "kiaM";
    font-size: 12px;
    line-height: 1.3;
  }
  .details-list .details-content .details-text {
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.6;
  }
  .details-item .details-bg {
    height: 305px;
  }
  .details-item .details-bg img {
    max-width: 100%;
  }
}
