@charset "utf-8";

/* CES_2019_Details 컴포넌트 */
.ces_2019_details {
  margin-top: 40px;
  margin-bottom: 30px;
}
.ces_2019_details .details-list {
  max-width: 940px;
  margin: 0 auto;
  overflow: hidden;
}
.ces_2019_details .details-list::after {
  content: '';
  display: table;
  clear: both;
}
.ces_2019_details .details-list > li {
  position: relative;
  float: left;
  width: 48.5%;

  opacity: 0;
  bottom: 170px;
  transition: all .5s ease-in-out;
  transition-delay: .2s;
}
.ces_2019_details .details-list > li.js-animated {
  opacity: 1;
  bottom: 0;
}
.ces_2019_details .details-list > li:nth-child(even) {
  margin-left: 3%;
  transition-delay: .4s;
}
.ces_2019_details .details-list > li:nth-child(2) {
  margin-top: 80px;
}
.ces_2019_details .details-list > li:nth-child(3) {
  margin-top: -50px;
}
.ces_2019_details .details-list > li:last-child {
  margin-top: 30px;
}
.ces_2019_details .details-list .details-content {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 15%;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}
.details-list .details-content .details-summary {
  display: block;
  font-family: "kiaB";
  font-size: 24px;
}
.details-list .details-content .details-title {
  display: block;
  margin-top: 13px;
  font-family: "kiaB";
  font-size: 18px;
  line-height: 1.3;
}
.details-list .details-content .details-text {
  margin-top: 18px;
  font-size: 15px;
  line-height: 1.6;
}
.ces_2019_details.text-top .details-list .details-content {
  top: 14%;
}
.ces_2019_details.text-center .details-list .details-content {
  top: 50%;
  transform: translateY(-50%);
}
.ces_2019_details.text-bottom .details-list .details-content {
  bottom: 14%;
}

@media(max-width:1024px){
  .ces_2019_details {padding: 0 15px;box-sizing: border-box;}
}

@media(max-width:768px){
  /* CES_2019_details 컴포넌트 */
  .ces_2019_details {
    padding:0 15px 0 15px;box-sizing: border-box;
    margin-bottom:15px;
    margin-top:15px;
  }
  .ces_2019_details .details-list {
    width: 100%;
    margin: 0 auto;
  }
  .ces_2019_details .details-list > li {
    float: none;
    width: 100%;
    margin:5px auto 0 auto;
    bottom: 100px;
    max-width: 320px;
  }
  .ces_2019_details .details-list > li:nth-child(2) {
    margin-top:5px;
  }
  .ces_2019_details .details-list > li:nth-child(3) {
    margin-top: 5px;
  }
  .ces_2019_details .details-list > li:last-child {
    margin-top: 5px;
  }
  .ces_2019_details .details-list > li:nth-child(even) {
    margin-left: auto;
    transition-delay: .2s;
  }
  .ces_2019_details .details-list .details-content {
    padding: 0 2%;
    color: #fff;
    letter-spacing: 0.05em;
  }
  .details-list .details-content .details-summary {
    font-size: 12px;
  }
  .details-list .details-content .details-title {
    margin-top: 5px;
    font-family: "kiaM";
    font-size: 12px;
    line-height: 1.3;
  }
  .details-list .details-content .details-text {
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.6;
  }
  .details-bg img {max-width: 100%;}
  .details-bg {height:305px;overflow: hidden;}
}
