<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kia Brand Identity | A Different Beat | Kia Motors Australia</title>
	<meta charset="utf-8" />
	<meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSuDomains; preload">
	<meta http-equiv="X-Content-Type-Options" content="nosniff">
	<meta http-equiv="X-XSS-Protection" content="1">
	<!-- meta -->
	<!-- 20180504 YKJ-->
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="keywords" content="">

	<meta name="title" content="Kia Brand Identity | A Different Beat | Kia Motors Australia" />
	<meta name="description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power.">

	<link rel="shortcut icon" href="/etc/designs/kia/favicon.ico" type="image/x-icon">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
	<meta name="robots" content="NOODP, NOYDIR">


	<meta name="kia_metrics_pagename" content="experience | brand | brand identity">
	<link rel="canonical" href="https://www.kia.com/au/experience/brand/identity.html">

	<link rel="alternate" href="https://www.kia.com/worldwide/main.do" hreflang="x-default" />
	<link rel="alternate" href="https://www.kia.com/au/main.html" hreflang="en-au" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="Kia Motors Australia" />
	<meta name="twitter:title" content="Kia Brand Identity | A Different Beat | Kia Motors Australia" />
	<meta name="twitter:description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power." />
	<meta name="twitter:image" content="/content/dam/kwcms/gt/e.../images//experience/img_identity.jpg" />

	<meta name="twitter:url" content="https://www.kia.com/au/experience/brand/identity.html" />

	<meta name="twitter:creator" contents="kia Motors" />

	<meta property="og:site_name" content="Kia Motors Australia" />
	<meta property="og:title" content="Kia Brand Identity | A Different Beat | Kia Motors Australia" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power." />
	<meta property="og:image" content="/content/dam/kwcms/gt/e.../images//experience/img_identity.jpg" />

	<meta property="og:url" content="https://www.kia.com/au/experience/brand/identity.html" />



	<meta itemprop="name" content="Kia Brand Identity | A Different Beat | Kia Motors Australia">
	<meta itemprop="description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power.">
	<meta itemprop="image" content="/content/dam/kwcms/gt/e.../images//experience/img_identity.jpg">
	<meta itemprop="keywords" content="kia, kia brand, kia identity, kia slogan, kia values">
	<meta itemprop="url" content="https://www.kia.com/au/experience/brand/identity.html" />
	<link rel="stylesheet" href="../../kia-source/css/clientlib.min.css" type="text/css">
	
	<!-- ces_2019_details.css 추가 -->
	<link rel="stylesheet" href="../css/ces_2019_details.css" type="text/css">
  

	<script type="text/javascript" src="https://www.kia.com/etc/designs/kia-australia/clientlib.min.js"></script>
	<script type="text/javascript" src="https://www.kia.com/etc/designs/kia-australia/clientlib/js/font-load.js"></script>
</head>
<body>



	<!-- content -->
	<div class="accessbility"><a href="#content">Go to content</a></div>
	<div id="wrap">

		<div id="header">
			<div class="header_in">
				<!-- GT SEO 20150827 h1 > div -->
				<div class="logo_h1"><a href="https://www.kia.com/au/main.html" class="lg_a"><img src="https://www.kia.com/content/dam/kwcms/gt/e.../images//common/lg_kia.png"class="lg_img" alt="KIA"></a></div>

				<!--ëª¨ë°ì¼ ê²ìì°½ 2018.06.11 ì¶ê° -->
				<div class="m_sch_area">
					<a href="#url" class="open_search"><span class="blind">open search</span></a>
					<div class="search_area">
						<form action="https://www.kia.com/au/util/search.html" method="get">
							<input type="text" name="q" id="m_sch_box" class="search_txt" title="Search Keyword" placeholder="Search">
							<button type="submit" class="search_btn" title="Search button"><span class="blind">Search</span></button>
						</form>
					</div>
					<a href="#url" class="close_search"><span class="blind">close search</span></a>
				</div>
				<script>
					(function () {
						$(document).ready(function () {
							$('.open_search').on('click', function () {
								$(this).addClass('on');
								$('.search_area').slideDown(200);
								setTimeout(function () {
									$('.close_search').css('display', 'block');
								}, 200);
							});
							$('.close_search').on('click', function () {
								$('.open_search').removeClass('on');
								$(this).css('display', 'none');
								$('.search_area').slideUp(200);
							});
						});
					})();
				</script>
				<!--//ëª¨ë°ì¼ ê²ìì°½ 2018.06.11 ì¶ê° -->

				<a href="#" class="open_gnb"><span class="cmm_spr spr_menu">open menu</span></a>

				<!-- //GNB -->
				<!-- GNB gnb_area open -->
				<div class="gnb_area">
					<ul class="gnb_nav">
						<!-- dth1_l dth_on -->
						<li class="dth1_l"><a href="#" class="dth1_a">Cars</a>

							<div class="dth2_u dth_pip">
								<div class="car_tab">

									<a href="#" class="sort_a sort_on"><span class="cmm_tspr spr_sort">All Vehicles</span></a>

									<a href="#" class="sort_a"><span class="cmm_tspr spr_sort">Small Cars</span></a>

									<a href="#" class="sort_a"><span class="cmm_tspr spr_sort">Medium Cars</span></a>

									<a href="#" class="sort_a"><span class="cmm_tspr spr_sort">Large Cars</span></a>

									<a href="#" class="sort_a"><span class="cmm_tspr spr_sort">SUVs</span></a>

									<a href="#" class="sort_a"><span class="cmm_tspr spr_sort">People Movers</span></a>

								</div>


								<div class="car_grid on">
									<strong class="hidden">All Vehicles</strong>
									<ul class="grid_u">

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/picanto.html" class="grid_box">

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-picanto-gt-line.png" alt="Picanto"></span>
												<span class="g_price gnb_price_JAPicanto">$</span>
												<strong class="g_name">PICANTO</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/rio.html" class="grid_box">

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-Rio.png" alt="msg_vehicle_rio"></span>
												<span class="g_price gnb_price_YBRio">$</span>
												<strong class="g_name">RIO</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/cerato-sedan.html" class="grid_box">

												<span class="g_flag">COMING SOON</span><!-- ì¶ì ìì  ì°¨ë ë§í¬ -->

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-cerato-sedan-new-white.png"
													 alt="msg_vehicle_cerato-sedan"></span>
												<span class="g_price gnb_price_BD_4DR_RHD">$</span>
												<strong class="g_name">ALL NEW CERATO SEDAN</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/cerato-5-door.html" class="grid_box">

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-cerato-hatch.png" alt="msg_vehicle_cerato-5-door"></span>
												<span class="g_price gnb_price_cerato5Door">$</span>
												<strong class="g_name">MY18 CERATO HATCH RUN OUT</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/soul.html" class="grid_box">

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-Soul-white.png" alt="Soul"></span>
												<span class="g_price gnb_price_PSSoul">$</span>
												<strong class="g_name">SOUL</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/optima.html" class="grid_box">

												<span class="g_flag">COMING SOON</span><!-- ì¶ì ìì  ì°¨ë ë§í¬ -->

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-Optima.png" alt="Optima"></span>
												<span class="g_price gnb_price_optima">$</span>
												<strong class="g_name">NEW OPTIMA</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/sportage.html" class="grid_box">

												<span class="g_flag">COMING SOON</span><!-- ì¶ì ìì  ì°¨ë ë§í¬ -->

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-Sportage.png" alt="Sportage"></span>
												<span class="g_price gnb_price_sportage">$</span>
												<strong class="g_name">NEW SPORTAGE</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/sorento.html" class="grid_box">

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/kia-sorento-gt-line-white.png"
													 alt="Sorento"></span>
												<span class="g_price gnb_price_newSorento">$</span>
												<strong class="g_name">SORENTO</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/rondo.html" class="grid_box">

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-Rondo-gnb.png" alt="msg_vehicle_rondo"></span>
												<span class="g_price gnb_price_carensRondo">$</span>
												<strong class="g_name">RONDO</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/carnival.html" class="grid_box">

												<span class="g_flag">COMING SOON</span><!-- ì¶ì ìì  ì°¨ë ë§í¬ -->

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-Carnival.png" alt="Carnival"></span>
												<span class="g_price gnb_price_carnival">$</span>
												<strong class="g_name">NEW CARNIVAL</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/kia-stinger.html" class="grid_box">

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-Stinger.png" alt="msg_vehicle_kia-stinger"></span>
												<span class="g_price gnb_price_CK_RHD">$</span>
												<strong class="g_name">ALL NEW KIA STINGER</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

									</ul>
								</div>

								<div class="car_grid">
									<strong class="hidden">Small Cars</strong>
									<ul class="grid_u">

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/picanto.html" class="grid_box">

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-picanto-gt-line.png" alt="Picanto"></span>
												<span class="g_price gnb_price_JAPicanto">$</span>
												<strong class="g_name">PICANTO</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/rio.html" class="grid_box">

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-Rio.png" alt="msg_vehicle_rio"></span>
												<span class="g_price gnb_price_YBRio">$</span>
												<strong class="g_name">RIO</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/cerato-sedan.html" class="grid_box">

												<span class="g_flag">COMING SOON</span><!-- ì¶ì ìì  ì°¨ë ë§í¬ -->

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-cerato-sedan-new-white.png"
													 alt="msg_vehicle_cerato-sedan"></span>
												<span class="g_price gnb_price_BD_4DR_RHD">$</span>
												<strong class="g_name">ALL NEW CERATO SEDAN</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/cerato-5-door.html" class="grid_box">

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-cerato-hatch.png" alt="msg_vehicle_cerato-5-door"></span>
												<span class="g_price gnb_price_cerato5Door">$</span>
												<strong class="g_name">MY18 CERATO HATCH RUN OUT</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

									</ul>
								</div>

								<div class="car_grid">
									<strong class="hidden">Medium Cars</strong>
									<ul class="grid_u">

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/optima.html" class="grid_box">

												<span class="g_flag">COMING SOON</span><!-- ì¶ì ìì  ì°¨ë ë§í¬ -->

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-Optima.png" alt="Optima"></span>
												<span class="g_price gnb_price_optima">$</span>
												<strong class="g_name">NEW OPTIMA</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

									</ul>
								</div>

								<div class="car_grid">
									<strong class="hidden">Large Cars</strong>
									<ul class="grid_u">

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/kia-stinger.html" class="grid_box">

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-Stinger.png" alt="msg_vehicle_kia-stinger"></span>
												<span class="g_price gnb_price_CK_RHD">$</span>
												<strong class="g_name">ALL NEW KIA STINGER</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location sylPopupOpen">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

									</ul>
								</div>

								<div class="car_grid">
									<strong class="hidden">SUVs</strong>
									<ul class="grid_u">

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/soul.html" class="grid_box">

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-Soul-white.png" alt="Soul"></span>
												<span class="g_price gnb_price_PSSoul">$</span>
												<strong class="g_name">SOUL</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/sportage.html" class="grid_box">

												<span class="g_flag">COMING SOON</span><!-- ì¶ì ìì  ì°¨ë ë§í¬ -->

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-Sportage.png" alt="Sportage"></span>
												<span class="g_price gnb_price_sportage">$</span>
												<strong class="g_name">NEW SPORTAGE</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/sorento.html" class="grid_box">

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/kia-sorento-gt-line-white.png"
													 alt="Sorento"></span>
												<span class="g_price gnb_price_newSorento">$</span>
												<strong class="g_name">SORENTO</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

									</ul>
								</div>

								<div class="car_grid">
									<strong class="hidden">People Movers</strong>
									<ul class="grid_u">

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/rondo.html" class="grid_box">

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-Rondo-gnb.png" alt="msg_vehicle_rondo"></span>
												<span class="g_price gnb_price_carensRondo">$</span>
												<strong class="g_name">RONDO</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

										<li class="grid_l">
											<a href="https://www.kia.com/au/cars/carnival.html" class="grid_box">

												<span class="g_flag">COMING SOON</span><!-- ì¶ì ìì  ì°¨ë ë§í¬ -->

												<span class="g_img"><img src="https://www.kia.com/content/dam/kwcms/au/e.../images//vehicles/gnb/Kia-Carnival.png" alt="Carnival"></span>
												<span class="g_price gnb_price_carnival">$</span>
												<strong class="g_name">NEW CARNIVAL</strong>
												<strong class="g_name"></strong>
											</a>
											<div class="g_info">
												<a href="#" class="byo_set_location">
													FROM
													<span class="ico_question">
														<span>Set your location to get local pricing</span>
													</span>
												</a>
											</div>
										</li>

									</ul>
								</div>


								<div class="new_cars_type">
									<ul>

										<li>
											<a href="https://www.kia.com/au/cars/small-cars.html" class="bl_type_a">Small Cars</a>

										</li>

										<li>
											<a href="https://www.kia.com/au/cars/hatchback.html" class="bl_type_a">Hatchback</a>

										</li>

										<li>
											<a href="https://www.kia.com/au/cars/suv.html" class="bl_type_a">SUV</a>

										</li>

										<li>
											<a href="https://www.kia.com/au/cars/family-cars.html" class="bl_type_a">Family Cars</a>

										</li>

										<li>
											<a href="https://www.kia.com/au/cars/7-ances-8-seater.html" class="bl_type_a">7 & 8 Seater</a>

										</li>

										<li>
											<a href="https://www.kia.com/au/cars/performance-cars.html" class="bl_type_a">Performance Cars</a>

										</li>

										<li>
											<a href="https://www.kia.com/au/cars/special-edition.html" class="bl_type_a">Special Editions</a>

										</li>

									</ul>
								</div>

							</div>
						</li>

						<li class="dth1_l"><a href="#" class="dth1_a">Shopping tools</a>
							<ul class="dth2_u">

								<li class="dth2_l"><a href="https://www.kia.com/au/shopping-tools/finance-calculator.html" class="dth2_a">Finance Calculator</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/shopping-tools/builces-ances-price.html" class="dth2_a">Build & Price</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/shopping-tools/request-a-test-drive.html" class="dth2_a">Request a Test Drive</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/shopping-tools/finces-a-dealer.html" class="dth2_a">Find a Dealer</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/shopping-tools/request-a-brochure.html" class="dth2_a">View Brochures</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/shopping-tools/fleet-edge.html" class="dth2_a">KIA FLEET EDGE</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/shopping-tools/subscribe.html" class="dth2_a">Newsletter</a></li>

							</ul>
						</li>

						<li class="dth1_l"><a href="#" class="dth1_a">Offers</a>
							<ul class="dth2_u">

								<li class="dth2_l"><a href="https://www.kia.com/au/offers/car-offers.html" class="dth2_a">Car Offers</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/offers/accessory-offers.html" class="dth2_a">Accessory offers</a></li>

							</ul>
						</li>

						<li class="dth1_l"><a href="#" class="dth1_a">Service</a>
							<ul class="dth2_u">

								<li class="dth2_l"><a href="https://www.kia.com/au/service/service-care.html" class="dth2_a">service & care</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/service/7-year-warranty.html" class="dth2_a">7 Year Unlimited KM Warranty</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/service/cappeces-price-servicing.html" class="dth2_a">Capped Price Servicing</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/service/roadside-assist.html" class="dth2_a">Roadside Assist</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/service/complimentary-3-month-service.html" class="dth2_a">Complimentary 3
										Month Service</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/service/change-of-ownership.html" class="dth2_a">Change of Ownership</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/service/androidauto-applecarplay.html" class="dth2_a">Android Auto & Apple
										CarPlay</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/service/recall-information.html" class="dth2_a">Recall Information</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/service/independent.html" class="dth2_a">Independent Repairers Access</a></li>

							</ul>
						</li>

						<li class="dth1_l"><a href="#" class="dth1_a">Experience</a>
							<ul class="dth2_u">

								<li class="dth2_l"><a href="https://www.kia.com/au/experience/why-kia.html" class="dth2_a">Why KIA</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/experience/brand.html" class="dth2_a">brand</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/experience/concept-cars.html" class="dth2_a">Concept Cars</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/experience/kia-social-media.html" class="dth2_a">Kia Social Media</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/experience/sponsorship.html" class="dth2_a">sponsorship</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/experience/innovation-story.html" class="dth2_a">Innovation Story</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/experience/kia-tennis.html" class="dth2_a">Kia Tennis</a></li>

								<li class="dth2_l"><a href="https://www.kia.com/au/experience/women-on-wheels.html" class="dth2_a">Women On Wheels</a></li>

							</ul>
						</li>

					</ul>
					<div class="util_area">
						<ul class="util_menu">
							<li class="util_l"><a href="https://www.kia.com/au/experience/why-kia.html" class="util_a">Why Kia</a></li>
							<li class="util_l"><a href="https://www.kia.com/au/util/news.html" class="util_a">News</a></li>
							<li class="util_l"><a href="https://www.kia.com/au/experience/sponsorship.html" class="util_a">Sponsorship</a></li>
							<li class="util_l"><a href="https://www.kia.com/au/util/contact-us.html" class="util_a">Contact Us</a></li>
							<li class="util_l"><a href="https://www.kia.com/au/util/faq.html" class="util_a">FAQ</a></li>
						</ul>
						<div class="util_search">
							<div class="u_sch_box">
								<form action="https://www.kia.com/au/util/search.html" method="get">
									<input type="text" name="q" id="txtTopSearch" class="sch_inp" title="Search Keyword" placeholder="Search">
									<button type="submit" class="sch_btn" title="Search"><span class="cmm_spr spr_search">Search</span></button>
								</form>
							</div>
						</div>
					</div>
					<div class="go_build">
						<a href="https://www.kia.com/au/shopping-tools/builces-ances-price.html" class="btnMedium btnType1"><span class="cmm_tspr spr_build"><em
								 class="desc">BUILD & PRICE</em></span></a>
					</div>
					<!-- GT SEO 20150827 h2 > div -->
					<div class="hidden">msg_util_menu</div>
				</div>
				<!-- //GNB -->
			</div>
		</div>



		<div id="container" ng-app="kwcmsAppModuleApp">
			<div id="content" class="subContents" style="padding-top:0;">
				<div class="par parsys">

          <!-- S: CES_2019_Details 컴포넌트 -->
						<!-- text-vertical-align: text-top, text-center, text-bottom 으로 세로 정렬 선택 -->
						<div class="ces_2019_details section text-bottom">
							<ul class="details-list">
								<li class="ces-onScreen">
									<div class="details-content">
										<span class="details-summary">01</span>
										<span class="details-title">ACTIVATION</span>
										<p class="details-text">
											Look Front, holding the wheel
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details1-1.jpg" alt="">
									</div>
								</li>
								<li class="ces-onScreen">
									<div class="details-content">
										<span class="details-summary">02</span>
										<span class="details-title">AUTHORIZING</span>
										<p class="details-text">
											Sense your facial expression<br>
											Vocal emotion and vital signs
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details1-2.jpg" alt="">
									</div>
								</li>
								<li class="ces-onScreen">
									<div class="details-content">
										<span class="details-summary">03</span>
										<span class="details-title">Examine</span>
										<p class="details-text">
											Analyze your past reaction<br>
											In various driving condition											
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details1-3.jpg" alt="">
									</div>
								</li>
								<li class="ces-onScreen">
									<div class="details-content">
										<span class="details-summary">04</span>
										<span class="details-title">NAVIGATE YOU IN EMOTION</span>
										<p class="details-text">
											Autonomously control light, sound, scent,<br>
											Temperature, seat vibration											
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details1-4.jpg" alt="">
									</div>
								</li>
							</ul>
						</div>
            <!-- E: CES_2019_Details 컴포넌트 -->
            
            <!-- S: CES_2019_Details 컴포넌트 -->
						<div class="ces_2019_details section text-center">
							<ul class="details-list">
								<li class="ces-onScreen">
									<div class="details-content">
										<span class="details-summary">01</span>
										<span class="details-title">WAKE UP</span>
										<p class="details-text">
											Activate with voice command<br>
											‘Hi, Kia’
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details2-1.jpg" alt="">
									</div>
								</li>
								<li class="ces-onScreen">
									<div class="details-content">
										<span class="details-summary">02</span>
										<span class="details-title">POINT</span>
										<p class="details-text">
											Point what you want to<br>
											control in vehicle
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details2-2.jpg" alt="">
									</div>
								</li>
								<li class="ces-onScreen">
									<div class="details-content">
										<span class="details-summary">03</span>
										<span class="details-title">FUNCTION</span>
										<p class="details-text">
											Click / Rotate / Swipe
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details2-3.jpg" alt="">
									</div>
								</li>
								<li class="ces-onScreen">
									<div class="details-content">
										<span class="details-summary">04</span>
										<span class="details-title">EXPERIENCE</span>
										<p class="details-text">
											Autonomously control light
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details2-4.jpg" alt="">
									</div>
								</li>
							</ul>
						</div>
						<!-- E: CES_2019_Details 컴포넌트 -->
          
				</div>
			</div>
		</div>
	</div>

  <!-- 컴포넌트 사용 시 필요 js -->
  <script src="../js/plugins/jquery.scrollex.min.js"></script>
  <script src="../js/ces_2019_details.js"></script>
  
</body>


<!-- end, after body tag -->
</html>