<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	<title>Kia Brand Identity | A Different Beat | Kia Motors Australia</title>
	<meta charset="utf-8" />
	<meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSuDomains; preload">
	<meta http-equiv="X-Content-Type-Options" content="nosniff">
	<meta http-equiv="X-XSS-Protection" content="1">
	<!-- meta -->
	<!-- 20180504 YKJ-->
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="keywords" content="">

	<meta name="title" content="Kia Brand Identity | A Different Beat | Kia Motors Australia" />
	<meta name="description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power.">

	<link rel="shortcut icon" href="/etc/designs/kia/favicon.ico" type="image/x-icon">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
	<meta name="robots" content="NOODP, NOYDIR">


	<meta name="kia_metrics_pagename" content="experience | brand | brand identity">
	<link rel="canonical" href="https://www.kia.com/au/experience/brand/identity.html">

	<link rel="alternate" href="https://www.kia.com/worldwide/main.do" hreflang="x-default" />
	<link rel="alternate" href="https://www.kia.com/au/main.html" hreflang="en-au" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="Kia Motors Australia" />
	<meta name="twitter:title" content="Kia Brand Identity | A Different Beat | Kia Motors Australia" />
	<meta name="twitter:description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power." />
	<meta name="twitter:image" content="/content/dam/kwcms/gt/e.../images//experience/img_identity.jpg" />

	<meta name="twitter:url" content="https://www.kia.com/au/experience/brand/identity.html" />

	<meta name="twitter:creator" contents="kia Motors" />

	<meta property="og:site_name" content="Kia Motors Australia" />
	<meta property="og:title" content="Kia Brand Identity | A Different Beat | Kia Motors Australia" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power." />
	<meta property="og:image" content="/content/dam/kwcms/gt/e.../images//experience/img_identity.jpg" />

	<meta property="og:url" content="https://www.kia.com/au/experience/brand/identity.html" />



	<meta itemprop="name" content="Kia Brand Identity | A Different Beat | Kia Motors Australia">
	<meta itemprop="description" content="The Power to Surprise. Kia brings a new beat to the global auto industry through its ever-vibrant growth and dynamic experiences. Discover The Power.">
	<meta itemprop="image" content="/content/dam/kwcms/gt/e.../images//experience/img_identity.jpg">
	<meta itemprop="keywords" content="kia, kia brand, kia identity, kia slogan, kia values">
	<meta itemprop="url" content="https://www.kia.com/au/experience/brand/identity.html" />
	<link rel="stylesheet" href="../../../kia-source/css/clientlib-rtl.min.css" type="text/css">
	
	<!-- slick.css 추가 -->
	<link rel="stylesheet" href="../css/plugins/slick.css" type="text/css">
	<!-- ces_2019_details.css 추가 -->
	<link rel="stylesheet" href="../css/ces_2019_details-rtl.css" type="text/css">
  

	<script type="text/javascript" src="https://www.kia.com/etc/designs/kia-australia/clientlib.min.js"></script>
	<script type="text/javascript" src="https://www.kia.com/etc/designs/kia-australia/clientlib/js/font-load.js"></script>
</head>
<body>



	<!-- content -->
	<div class="accessbility"><a href="#content">Go to content</a></div>
	<div id="wrap">
		
		<div id="container" ng-app="kwcmsAppModuleApp">
			<div id="content" class="subContents" style="padding-top:0;">
				<div class="par parsys">


				<div style="background:#333;padding:20px;color:#fff;width:600px;margin:0 auto;">
					<h1>CES_2019_Details 컴포넌트</h1>
					<br>
					모든 컴포넌트에 section 클래스 공통으로 사용 (별로의 스크립트와 css적용은 하지 않음) <br>
					scrollext 모션 적용 시 ces-onScreen 클래스 사용
					<br>
					텍스트 위치 : 상, 중, 하<br>
					클래스 text-top, text-center, text-bottom 으로 세로 정렬 선택
				</div>


						<!-- S: CES_2019_Details 컴포넌트 -->
						<!--
							* 2018.12.12 CES_2019_Details 컴포넌트 변경 사항
							* Mobile에서 슬라이드로 노출되기 위한 마크업 구조 변경
							* details-list(ul) > li 구조를
							* details-list(div) > details-item(div) 구조로 변경
							* 기존 details-item 에만 적용하던 ces-onScreen(모션효과 클래스)를
							* ces_2019_details 에도 추가 적용(Mobile 슬라이드 레이아웃 전체에 모션효과 적용)
							* 신규 추가된 리소스 : slick.css, slick.min.js plugin import
							* 변경된 리소스 : ces_2019_details.css, ces_2019_details.js
						-->
						<div class="ces_2019_details section ces-onScreen text-bottom">
							<div class="details-list">
								<div class="details-item ces-onScreen">
									<div class="details-content">
										<span class="details-summary">01</span>
										<span class="details-title">ACTIVATE</span>
										<p class="details-text">
											Look straight ahead<br>
											and hold the steering wheel
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details1-1.jpg" alt="">
									</div>
								</div>
								<div class="details-item ces-onScreen">
									<div class="details-content">
										<span class="details-summary">02</span>
										<span class="details-title">AUTHORIZE</span>
										<p class="details-text">
											Senses your facial expression<br>
											and vital signs
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details1-2.jpg" alt="">
									</div>
								</div>
								<div class="details-item ces-onScreen">
									<div class="details-content">
										<span class="details-summary">03</span>
										<span class="details-title">ANALYZE</span>
										<p class="details-text">
											Analyzes your past reactions<br>
											to various driving conditions
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details1-3.jpg" alt="">
									</div>
								</div>
								<div class="details-item ces-onScreen">
									<div class="details-content">
										<span class="details-summary">04</span>
										<span class="details-title">NAVIGATE YOUR EMOTION</span>
										<p class="details-text">
											Optimizes lighting, sound, scent,<br>
											air conditioning, seat vibration, etc.
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details1-4.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
						<!-- E: CES_2019_Details 컴포넌트 -->

						<div class="ces_2019_details section ces-onScreen text-center">
							<div class="details-list">
								<div class="details-item ces-onScreen">
									<div class="details-content">
										<span class="details-summary">01</span>
										<span class="details-title">WAKE UP</span>
										<p class="details-text">
											Activate with ‘Hi Kia’<br>
											voice command 
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details2-1.jpg" alt="">
									</div>
								</div>
								<div class="details-item ces-onScreen">
									<div class="details-content">
										<span class="details-summary">02</span>
										<span class="details-title">POINT</span>
										<p class="details-text">
											Point at the vehicle function<br>
											you want to control 
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details2-2.jpg" alt="">
									</div>
								</div>
								<div class="details-item ces-onScreen">
									<div class="details-content">
										<span class="details-summary">03</span>
										<span class="details-title">ADJUST</span>
										<p class="details-text">
											Click, rotate or swipe
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details2-3.jpg" alt="">
									</div>
								</div>
								<div class="details-item ces-onScreen">
									<div class="details-content">
										<span class="details-summary">04</span>
										<span class="details-title">EXPERIENCE</span>
										<p class="details-text">
											Control numerous features<br>
											with your fingertip
										</p>
									</div>
									<div class="details-bg">
										<img src="../images/@sample-details2-4.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
						
				</div>
			</div>
		</div>
	</div>

  <!-- 컴포넌트 사용 시 필요 js -->
	<script src="../js/plugins/jquery.scrollex.min.js"></script>
	<script src="../js/plugins/slick.min.js"></script>
  <script src="../js/ces_2019_details-rtl.js"></script>
  
</body>


<!-- end, after body tag -->
</html>