@charset "utf-8";

/* CES_2019_media 컴포넌트 */
.ces_2019_media {
  position: relative;
  max-width: 940px;
  height: 530px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.35);
}
.ces_2019_media.ces-onScreen {
  opacity: 0;
  bottom: 120px;
  transition: all .5s ease-in-out;
}
.ces_2019_media.ces-onScreen.js-animated {
  bottom: 0;
  opacity: 1;
}
.ces_2019_media .img-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.ces_2019_media .img-wrap.video-play {
  display: none;
}
.ces_2019_media .img-wrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.ces_2019_media .img-wrap .btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  background: url(../images/btn-ces-play-pc.png) no-repeat 0 0;/* 2018.12.11 파일명 수정 */
  text-indent: -9999px;
  transform: translate(-50%, -50%);
}
.ces_2019_media iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
}
@media(max-width:1024px){
  .ces_2019_media {
      max-width: 990px;
      height:560px;
  }
}

@media(max-width:990px){
  .ces_2019_media {margin:0 15px;}
}
@media(max-width:768px){
  .ces_2019_media {
    max-width: 320px;
    height: 170px;
    margin: 0 auto 0 auto;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.35);
  }
  .ces_2019_media.ces-onScreen {
    bottom: 100px;
  }

  .ces_2019_media .img-wrap .btn-play {
    width: 60px;
    height: 60px;
    background: url(../images/btn-ces-play-mo.png) no-repeat 0 0 /60px auto;/* 2018.12.11 파일명 수정 */
  }
}
@media(max-width:320px){
  .ces_2019_media {margin:0 15px;}
}